---
layout: default
---

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/gilesdring/scrambledphysics">View on GitHub</a>

      <h1 id="project_title">ScrambledPhysics</h1>
      <h2 id="project_tagline">Simple physics library for the Processing language, written in pure processing, in a single file.</h2>

        <section id="downloads">
          <a class="zip_download_link" href="https://github.com/gilesdring/scrambledphysics/zipball/master">Download this project as a .zip file</a>
          <a class="tar_download_link" href="https://github.com/gilesdring/scrambledphysics/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    {{ content }}
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">Scrambledphysics maintained by <a href="https://github.com/gilesdring">gilesdring</a></p>
    <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
  </footer>
</div>
